<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/"> Dashboard </a>
        </li>
        <li>
            <a href="/user">Profile</a>
        </li>
        <li>
            <a href="/registeration">Pre Pregistration</a>
        </li>
        <li>
            <a href="/tables">Tables</a>
        </li>
        <li>
            <a href="/acadmic-records">Acadmic Records</a>
        </li>
        <li>
            <a href="/exams">Exams</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->